@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --accent: #E67E22;
  --dark-accent: #d35400;
  --text-heading: #0F2137;
  --text-primary: #111827;
  --text-medium: #374151;
  --text-subtle: #4B5563;
  --text-light: #6A7282;
  --light-shade: #F1F1F1;
  --footer-bg: #F9FAFB;
  --footer-text: #6A7282;
}

@theme inline {
    --color-background: var(--background);
    --color-accent: var(--accent);
    --color-dark-accent: var(--dark-accent);
      --color-text-heading: var(--text-heading);
  --color-text-primary: var(--text-primary);
  --color-text-medium: var(--text-medium);
  --color-text-subtle: var(--text-subtle);
  --color-text-light: var(--text-light);
  --color-light-shade: var(--light-shade);
    --color-footer-bg: var(--footer-bg);
    --color-footer-text: var(--footer-text);
  --font-urbanist: var(--font-urbanist);
  --font-inter: var(--font-inter);
   --font-dm-sans: var(--font-dm-sans);
}

body {
    font-family: var(--font-inter);
}
.heroSection {
  background-image: url('/hero-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
 [data-step-image] {
  filter: grayscale(100%);
  opacity: 0.5;
  transform: translateY(20px);
  transition: filter 1.5s ease-out, opacity 1.5s ease-out, transform 1.5s ease-out;
}

[data-step-image].in-view {
  filter: grayscale(0%);
  opacity: 1;
  transform: translateY(0px);
}
.tapered-line {
  background: linear-gradient(to bottom, transparent, #93C5FD 10%, #93C5FD 90%, transparent);
}